@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+AR:wght@100..400&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Berkshire&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');*/
*{
    /*fuente*/
    font-family: "Montserrat", sans-serif;
    font-size: 1rem; 
    margin:0;
    padding:0;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Playwrite DE Grund", cursive;
    text-align:center ;
}
.razonSocial{
    font-family: "Playwrite AR", serif;
    color: #69177e;
    font-size: 1.2em;
}
p{
    font-size: 1rem;
}
h1{
    font-size: 3rem; 
    margin: 4rem ;
}
h2{
    font-size: 2rem;
    margin: 3rem ;
}
h3{
    font-size: 1.325rem ;
    margin: 2rem ;
}
.nosotros{
    margin: 0 15% ;
    text-align:justify
}
li{
    margin-top: 1rem;
}
.fuente50px{
    font-size: 55px;
}
.colorPrincipal{
    background-color: #ea98ff;
    color: black;
    a{
        color:black;
    }
}
.fuenteNegrita{
    font-weight: 700;
}
.fuenteNegrita60{
    font-weight: 600;
}
.texo_centrado{
    text-align:center ;
}
header, footer{
    .logo{
        width: 120px;
    }
    ul{ 
        list-style-type: none;
    }
    li {
        display: inline;
        margin-right: 10px;
    }    
    a{
        color:white;
        text-decoration: none;
        font-size: 30px;
        font-weight: 700;
    }
    .fa-whatsapp{
        color: #25d366;
        font-size: 70px;
    }
    .contenedor_header{
        margin:0  auto;
        display:flex;
        flex-direction: row;
        align-content: space-evenly;
        justify-content:space-evenly;
        align-items: center; 
    }
    .contenedor_sub_nav{
        display:flex;
        flex-direction: row;
        justify-content:space-evenly;
    }
    .sub_nav-flex-item{
        margin-bottom:1rem ;
    }
}
.contenedor_oferta{
    margin:0 auto;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-content: space-evenly;
    justify-content:space-evenly;
    align-items: center;    
}
.flex-item{
    border: 10px solid rgb(38, 129, 129);
    border-radius: 30px; /* 5% */
    background-color: rgb(61, 206, 206);
    padding: 1%;
    margin: 2%;
}   

.comunicacion-flex-item{
    margin:0.5rem auto;
    display:flex;
    flex-wrap:wrap;
    align-content: space-evenly;
    justify-content:space-evenly;
    align-items: center; 

}